body{
    font:sans-serif;
    padding:0;
    margin:0;
    background-color: #3AAFA9
}

/*Unordered list*/
ul{
    margin:0;
    padding:0;
}

/*Header*/
header{
    background: #14252a;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom:20px;
    padding-left:10px;
    min-height:70px;
    border-bottom: #def2f1;
}

/*Header links*/
header a{
    color:#ffffff;
    text-decoration: none;
    text-transform: capitalize; /*Controls the capitalization of text*/
    font-size: 20px;
    font-weight: 400;
}

/*Header elements of the list*/
header li{
    float:left;
    display:inline;
    padding:20px 20px 5px 5px;
}

header #branding{
    float:left;
}

header .container #branding h1 a{
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    color:whitesmoke;

}

/*Links - Upper right side of page*/
header nav{
    float:right;
    margin-top:10px;
}

/*First link (Home Page)*/
header h1 a, header .current a{
    color: whitesmoke;
}

/*Generally on the a in the header when you move the mouse over them*/
header a:hover{
    color:#2B7A78;
    font-weight:bold;
}

/*Generally on header links when u visit them*/
header .current a:visited{
    color:#2B7A78
}
