body{
    font-family:"Poppins",sans-serif;
    padding:0;
    margin:0;
    background-color: #DEF2F1
}

/*Unordered list*/
ul{
    margin:0;
    padding:0;
}

/*Header*/
header{
    font-weight: bold;
    background: #2B7A78;
    color: #17252A;
    padding-top: 10px;
    padding-bottom:20px;
    padding-left:10px;
    min-height:60px;
    border-bottom: #def2f1;
}

/*Header links*/
header a{
    color:#ffffff;
    text-decoration: none;
    text-transform: capitalize; /*Controls the capitalization of text*/
    font-size: 20px;
    font-weight: 500;
}

/*Header elements of the list*/
header li{
    float:left;
    display:inline;
    padding:20px 20px 5px 5px;
}

header #branding{
    float:left;
}

header .container #branding h1 a{
    font-weight: bold;
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
    color: #17252A;

}

/*Links - Upper right side of page*/
header nav{
    float:right;
    margin-top:10px;
}

/*First link (Home Page)*/
header h1 a, header .current a{
    color: whitesmoke;
}

/*Generally on the a in the header when you move the mouse over them*/
header a:hover{
    color:#17252A;
    font-weight:bold;
}

/*Generally on header links when u visit them*/
header .current a:visited{
    color:#17252A
}

body .map{
    position: relative;
}

body .map iframe{
    margin-right: 10px;
    width: 100%;
}

/*
body .map figcaption{
    color: #3aafa9;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
*/

/* Style the caption */
.map .map-caption {
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    text-align: left;
}

footer #SocialMedia{
    color: #17252A;
    padding-left: 10px;
    font-weight: 300px;
    font-size: 15px;
}

footer img{
    padding-right: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    height: auto;
}
